<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="http" contract="ParagoServices.IParagoServiceApplication" binding="customBinding" bindingConfiguration="ParagoServiceHttpBinding" />
			<endpoint name="https" contract="ParagoServices.IParagoServiceApplication" binding="customBinding" bindingConfiguration="ParagoServiceHttpsBinding" />
		</client>
		<bindings>
			<customBinding>
				<binding name="ParagoServiceHttpBinding">
					<security authenticationMode="IssuedTokenOverTransport" allowInsecureTransport="true" />
					<binaryMessageEncoding>
						<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					</binaryMessageEncoding>
					<httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
				</binding>
				<binding name="ParagoServiceHttpsBinding">
					<security authenticationMode="IssuedTokenOverTransport" />
					<binaryMessageEncoding>
						<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					</binaryMessageEncoding>
					<httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>
</configuration>
